

<nav class="navbar navbar-dark bg-dark" style="background-color: #5995fd !important;">
  <a class="navbar-brand" routerLink="/pontuacao" style="margin-left: 10px;cursor: pointer;">Arcade Score</a>

  <div id="navbar-portal-outlet"></div>

  <div class=“menu-overlay”></div>

  <div class="sidebar2">
    <a class="nav-link" routerLink="/pontuacao" style="font-size: 15px;color: white;font-weight: 600;">Registrar Pontuação</a>
 
    <a class="nav-link" routerLink="/" style="font-size: 15px;margin-left: 20px;color: white;font-weight: 600;">Ranking</a>
   </div>



</nav>


<div class="container-fluid" style="    width: 100%;">
  <div class="row">


    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
